@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/Legendday\ Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  /* font-family: "myFirstFont"; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.flex-container {
  display: flex;
}
.container-left {
  width: 300px;
  background-color: #36474f;
}
.container-left-top {
  background-color: #273238;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.container-left-bottom {
  background-color: #36474f;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.container2-text {
  padding: 20px;
}
.container3 {
  background-color: "#273238";
}
.avatar {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
.colorText {
  color: #fff;
  text-align: center;
}
.name {
  font-size: 24px;
  color: #fff;
}
.title {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.title-left {
  font-size: 24px;
  color: #273238;
  font-weight: bold;
  margin-top: 10px;
}
.description {
  font-size: 12px;
  color: aliceblue;
  padding-left: 24px;
}
.icon1 {
  background-color: #273238;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon2 {
  background-color: #fff;
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #273238;
  margin-left: 5px;
}
.icon-left {
  background-color: #273238;
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container-icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.line {
  height: 5px;
  width: 200px;
  border-radius: 2px;
  background-color: #fff;
  margin-left: 24px;
}
.linePhotoshop {
  margin-top: 10px;
  height: 5px;
  width: 170px;
  border-radius: 2px;
  background-color: #273238;
}
.lineIllutrator {
  margin-top: 10px;
  height: 5px;
  width: 180px;
  border-radius: 2px;
  background-color: #273238;
}
.lineAndorid {
  margin-top: 10px;
  height: 5px;
  width: 160px;
  border-radius: 2px;
  background-color: #273238;
}
.lineWeb {
  margin-top: 10px;
  height: 5px;
  width: 170px;
  border-radius: 2px;
  background-color: #273238;
}
.linePrint {
  margin-top: 10px;
  height: 5px;
  width: 165px;
  border-radius: 2px;
  background-color: #273238;
}
.container-right {
  padding-left: 40px;
  padding-right: 40px;
  width: 500px;
  background-color: #fff;
  padding-bottom: 10px;
}
.title-left-job {
  font-size: 20px;
  color: #2d3739;
  font-weight: 400;
}
.icon-size-lelf {
  width: 5px;
  height: 5px;
}
.margin-top-20 {
  margin-top: 20px;
}
